.hotel-detail-container{
    width: 80%;
    margin: 20px auto;
}
/*title section*/
.hotel-detail-container .title-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel-detail-container .title-section h1{
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.hotel-detail-container .title-section h5{
    width: 48%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 20px 0px;
}
/*image section*/
.image-section {
    margin: 60px auto;
    width: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.image-item {
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
}



/*content section*/
.content-section{
    width: 100%;
    margin: 60px auto;
}
.content-section h5{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.content-section p{
    font-family: "Montserrat", sans-serif;
    margin: 15px auto;
    font-size: 14px;
}

/*rooms section*/
.available-rooms-section{
    width: 100%;
    margin: 60px auto;
}
.available-rooms-section h5{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 20px auto;
}
.available-rooms-section .rooms-table{
    width: 100%;
}
.available-rooms-section .rooms-table tbody td{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.available-rooms-section .rooms-table .last-cell{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.last-cell button{
    margin: 0px auto 10px auto;
}