*{
    margin: 0;
    padding: 0;
}
/*Navbar*/
.nav-bar{
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 4px 2px rgba(0,0,0,0.25);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 15;
}
.nav-bar h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-bar .navbar-button{
    padding: 10px 15px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.nav-bar #login-btn{
    background-color: #3d68f3;
    color: white;
    margin: 0 10px;
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.25);
}
.nav-bar #login-btn:hover{
    background-color: white;
    color: black;
    transition: .3s;
}
.nav-bar #signup-btn{
    background-color: white;
    color: black;
}

/*footer section*/
.footer-section{
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #ecefff;
    width: 100%;
    height: auto;
    margin: 100px auto 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.footer-section .locations{
    width: 28%;
    padding: 40px 20px 40px 20px;
}
.footer-section  h3{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin: 15px auto;
}
.footer-section .locations a{
    color: black;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
}
.footer-section .follow{
    width: 28%;
    padding: 40px 20px 40px 20px;
}
.footer-section .follow img{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.footer-section .footer-logo{
    text-align: center;
    width: 28%;
    padding: 50px 20px 50px 20px;
}
.footer-logo img{
    width: 140px;
    height: 100px;
}
@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes TranslateIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
