.payment-container{
    width: 100%;
}
.payment-div{
    width: 85%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.payment-div .payment-column1{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
.payment-div .payment-column1 .row-element{
    height: auto;
    padding: 30px;
}
.payment-div .payment-column1 .row-element h1{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    margin: 0px auto 20px auto;
}
.payment-div .payment-column1 .row-element h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
